<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Execute Order Pase Reglamentado</title>
  </head>
  <body>
    <h1>Execute Order Pase Reglamentado</h1>
    <form action="../dynamics/php/registro.php" method="post" width="300px">
      <fieldset>
        <legend>Validación de usuario</legend>
        <label for="cuenta">Ingresa tu número de cuenta: </label>
        <input type="text" name="cuenta" required> <br>
        <input type="submit" name="inicio" value="Enviar" id="sub">
      </fieldset>
    </form>
  </body>
</html>
