body{
  text-align: center;
  background-color:#247a89;
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
  border: 1px solid #a33e2a;
}
.tablero{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color:#248978;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.serpiente{
  background-color:#FCAE56;
  width: 50px;
  height: 50px;
}
.fruta{
  background-color:#BF4026;
  width: 50px;
  height: 50px;
}
.celda{
  /*display: flex;*/
  background-color:#248978;
  width: 50px;
  height: 50px;
}
.controles{
  text-align: center;
  display:flex;
  width: 20%;
  height: 10%;
  flex-direction:column;
  background-color:#248978;
  flex-wrap: wrap;
}

.uno{
  align-self: flex-start;
  color: aliceblue;
}
#controlador{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}